{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <div class="container">
        <br>
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <form id="user-login-form">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                         </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="password" class="form-control" placeholder="Password" type="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="login-submit-btn"> Log In </button>
                    </div>
                <p class="text-center">Not Have an account? <a href="{% url 'index' %}">Create an Account</a> </p>

            </form>
            </article>
        </div> <!-- card.// -->

    </div>
    <!--container end.//-->

<script src="{% static 'home/js/login.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        Login.login_api_url = "{% url 'login' %}";
        Login.chat_panel_url = "{% url 'chat-panel' 9999 %}";
        Login.init();

        if (sessionStorage.getItem("token") != null || sessionStorage.getItem("token") != undefined) {
            location.href = Login.chat_panel_url.replace("9999", sessionStorage.getItem("user_id"));
        }
    });
</script>
</body>
</html>